.bgImage {
  background-image: url("../images/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImage2 {
  background-image: url("../images/bgImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
